@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&family=Dangrek&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Azeret Mono', monospace, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background: linear-gradient(to left, rgb(202, 224, 202), rgb(155, 155, 236));
}

.calculator-container {
    height: 100vh;
    display: flex;
    align-content: center;
    align-items: center;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 7rem);
    border: 7px solid rgb(15, 129, 99);
    box-shadow: 0px 0px 12px 6px;
    border-radius: 13px;
    width: fit-content;
    margin: 0 auto;
}

.calculator button {
    outline: none;
    background:rgb(202, 224, 202);
    align-content: center;
    padding: 1rem;
    border: 1px solid white;
    transition: 250ms;
}

.calculator button:hover {
    color: white;
    background: seagreen;
    cursor: pointer;
}

.calculator .all-clear {
    background:rgb(230, 154, 41);
}

.calculator .all-clear:hover {
    background: rgb(202, 110, 94);
    color: white;
}

.rounded-button__left {
    border-radius: 0 0 0 5px;   
}
.calculator .rounded-button__right{
    background-color: rgb(104, 138, 202);

    border-radius: 0 0 5px 0;
}


.output {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-column: 1 / -1;
    align-items: center;
    background:rgb(164, 224, 214);
    border-radius: 5px 5px 0 0;
    border: 1px solid white;
    width: 100%;
}

.calculator-label {
    font-size: 1.2rem;
    padding: 10px;
}

.current-output {
    width: 100%;
    font-size: 2.5rem;
    padding: 10px;
    outline: none;
    cursor: default;
    text-align: end;
}

.calculator > button {
    font-size: 2.5rem;
}

.span-two {
    grid-column: span 2;
}